* {
    font-family: 'Karla', sans-serif;
    --cyan: hsl(179, 62%, 43%);
    --light-cyan: hsl(179, 61%, 52%);
    --bright-yellow: hsl(71, 73%, 54%);
    --grayish-blue: hsl(218, 22%, 67%);
    --light-gray: hsl(204, 43%, 93%);
}

body {
    background-color: var(--light-gray);
}

.card {
    background-color: white;
    border: .1em solid transparent;
    border-radius: 1vh;
    box-shadow: 1px 1px 2vw .1vw hsl(204, 28%, 65%);
    width: 90vw;
    margin: 5% auto;
    line-height: 2;
}

.card > div {
    padding: 2% 5%;
}

.hero {
    background-color: white;
    position: relative;
    top: 0;
    left: 0;
}

h1 {
    color: var(--cyan);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1;
}

.hero-tagline {
    color: var(--bright-yellow);
    font-weight: 700;
}

.hero-text {
    color: var(--grayish-blue);
}

.cta {
    color: white;
    background-color: var(--cyan);
}

.cta h2 {
    font-weight: 700;
    font-size: 1.25rem;
    margin: 5% auto 2.5%;
}

.cta .subscription-cost {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
}

.cta .cost {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: left;
}

.subscription-cost p {
    color: hsl(179, 52%, 78%);
}

.cta p {
    line-height: 1;
}

.cta-button {
    color: white;
    background-color: var(--bright-yellow);
    font-weight: 700;
    border: .1em solid transparent;
    border-radius: 1vh;
    box-shadow: -1px 1px .5em .1em hsl(179, 70%, 30%);
    width: 100%;
    padding: 1.25em;
    margin: 8% auto;
}

.why-us {
    color: white;
    background-color: var(--light-cyan);
}

.why-us h2 {
    font-size: 1.25rem;
    line-height: 1;
}

.why-us ul {
    color:hsl(178, 100%, 94%);
    list-style: none;
    padding-left: 0;
}

.attribution {
    color: var(--cyan);
    font-size: .8rem; 
    text-align: center;
}

.attribution a {
    color: var(--bright-yellow); 
}

@media screen and (min-width: 500px) {
    .card {
        width: 70vw;
        margin: 5vh auto;
    }
}

@media screen and (min-width: 1000px) {
    .card {
        display: grid;
        grid: auto auto auto,
            50% 50%;
    }

    .card > div {
        padding: 5% 10%;
    }

    .hero {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .cta {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    footer {
        grid-column: 1/3;
        grid-row: 3/4;
    }
}